<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ryu.mapper.ReplyMapper">
	<insert id="insert">
		INSERT INTO tbl_reply(rno, bno, reply, replyer)
		VALUES(seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<select id="getListWithPaging" resultType="com.ryu.dto.ReplyDTO">
	<![CDATA[
		SELECT rno, bno, reply, replyer, replydate
			FROM (
				SELECT /*+INDEX_DESC(tbl_reply PK_REPLY) */ ROWNUM rn, tbl_reply.*
			    	FROM tbl_reply
			    	WHERE bno = #{bno}
			    	AND rno > 0
			    	AND rownum <= #{cri.pageNumber} * #{cri.amount}
			) 
			WHERE rn > (#{cri.pageNumber} -1) * #{cri.amount}
	]]>
	</select>
	
	<select id="get" resultType="com.ryu.dto.ReplyDTO">
		
		SELECT * 
			FROM tbl_reply 
			WHERE rno = #{rno}
		
	</select>
	
	
	<select id="getCountByBno" resultType="int">
		<![CDATA[
			SELECT count(rno) 
				FROM tbl_reply 
				WHERE bno=#{bno}
		]]>
	</select>
	
	
	<delete id="delete">
	
		DELETE FROM tbl_reply 
			WHERE rno = #{rno}
	
	</delete>
	
	<update id="update">
		UPDATE tbl_reply 
			SET reply = #{reply}, replyer = #{replyer}
			WHERE rno=#{rno}
	</update>
	
	
	
	
	
	
	
	
</mapper>